li a:hover {
    background-color:rgb(37,170,226);
}
li.active {
    background-color:rgb(37,170,226);
    font-weight: bold;
}

.szlogen {
    font-size: .7rem;
    letter-spacing: 1px;
    margin: 0;
}