@font-face {
    src: url(../src/assets/fonts/Catamaran/Catamaran-VariableFont_wght.ttf);
    font-family: "catamaran";
    font-weight: 100;
}

@font-face {
    src: url(../src/assets/fonts/Lato/Lato-Regular.ttf);
    font-family: "lato";
    font-weight: 400;
}

@font-face {
    src: url(../src/assets/fonts/Mulish/Mulish-VariableFont_wght.ttf);
    font-family: "muli";
    font-weight: 400;
}

$mainBlue: rgb(37, 170, 226);
$mainGrey: rgb(53, 58, 64);
$mainShadow: 0 0 9px black;
$mainFont: "catamaran", Arial, Helvetica, sans-serif;


body {
    margin: 0;
    color: $mainBlue;  
}


/*Navigation*/
.navbar {
    box-shadow: $mainShadow;    
}

.navbar-brand {
    color:  $mainBlue!important;
    font-family: $mainFont;
}

.nav-link {
    font-family: $mainFont;
}
/*Headlines*/

[class^="headline"] {
    box-shadow: $mainShadow;
}

.headline-home{    
    background-image: url(../src/assets/img/logo/map.jpg);
    background-size: cover;
    background-position: center center;
    height: 40vh;
}

.headline-local {
    background-image: url(../src/assets/img/logo/budapest.jpg);
    background-size: cover;
    background-position: center center;
    height: 40vh;
}

.headline-foreign {
    background-image: url(../src/assets/img/logo/tropical.jpg);
    background-size: cover;
    background-position: center center;
    height: 40vh;
}

.logo{
    width: 35%;
}

/*Cards*/

.card-title {
    font-family: "lato", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.card-text {
    font-family: "muli", Arial, Helvetica, sans-serif;
}

.product-pagi {
    background-image: url(../src/assets/img/800/bg-pattern.png), linear-gradient(to right, $mainBlue, rgb(200, 200, 200));
    background-attachment: fixed;
    
}
.card {
    box-shadow: 0 0 9px grey;
    border-radius: 10px;
    background-color: #efefef;        
}

.product-salesprice{
    font-size: 23px;
    font-weight: bold;
    color: orangered;
}

.card-salesprice {
    text-decoration: line-through;
}

.product-stock {
    font-weight: bold;
}

/*Titles*/

[class^="title"] {
    color: $mainBlue;
    background-color: $mainGrey;
    box-shadow: $mainShadow;
    font-family: $mainFont;
}

/*Product-list*/

[class^="list"] {
    color: $mainBlue;
}

.list-title {    
    font-family: $mainFont;
}

.list-text {
    font-family: "lato", Arial, Helvetica, sans-serif;
}

.product-list {
    background-color: rgb(73, 78, 84);
    box-shadow: $mainShadow;
    .card {
        background-color: #efefef;
    }
}

/*Kapcsolat page*/
app-kapcsolat {
    font-family: $mainFont;
    font-weight: bold;
    .footer {
        font-weight: normal;
    }
}

/*Admin page*/
app-admin {
    font-family: $mainFont;
    font-weight: bold;
    .footer {
        font-weight: normal;
    }
}

.table-heads:hover {
    cursor: pointer;
}

/*Footer*/

.footer {
    border-top: 1px solid  rgb(43, 48, 54);
    box-shadow: $mainShadow;
    .copyright {
        font-size: small;
        font-family: "muli", Arial, Helvetica, sans-serif;
    }
}


@media screen and (min-width: 992px) {
    
    .logo {
        width: 25% !important;
    }
    .card {
        box-shadow: none;
    }
    .card-title {
        font-size: medium;
    }
    
    .card-text {
        font-size: small;
    }

    .product-salesprice{
        font-size: 18px;
    }
    
}

@media screen and (min-width: 1200px) {
    
    .logo{
        width: 20% !important
    }
}